:root {
    --main-bg-color: #065A60;
    --main-fg-color: #fff;
    --second-fg-color: #48CAE4;
}
body,
html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif; 
    color: var(--main-fg-color);
    background-size: auto;
    background-image: url('/photo/airport.jpg');
    background-color: rgba(255, 255, 255, 0.51);
    background-blend-mode: lighten;
    padding: 0px;
    margin: 0px;
}
.navbar {
    font-size: 18px;
    display: flex;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    background-color: var(--main-bg-color);
    height: 64px;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-right: 50px;
    height: 64px;
    border-radius: 8px;
    margin-left: 60px;
}

.list {
    list-style: none;
    display: flex;
    gap: 120px;
    margin-right: 50px;
}

#toggler,
.navbar label {
    display: none;
    background-color: black;
}

@media screen and (max-width: 980px){
    .menu {
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        opacity: 0;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 70px;
    }
    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;        
    }
    #toggler:checked ~ .menu {
        max-height: 500px;
        opacity: 1;
        transition: all 500ms ease-out;
    }
    .navbar {
        height: 100%;
    }
}

.list li:after {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.list li:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}
.MOTH {
    display: grid;
    grid-template: 1fr 2fr / 1.5fr 1fr;
    width: 37.5em;
    height: 25em;
    grid-template-areas: "head img-header"
                         "text img-header"
                         "text img-header";
    background-color: var(--main-bg-color);
    position: absolute;
    top: 300px;
    margin: 100px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px grey;
    word-break: break-all;
}
.img-header {
    width: 100%;
    height: 100%;
    grid-area: img-header;
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
    margin-left: 1.5em;
}